body {
  background-image: url("https://i.imgur.com/j3krM6o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  padding: 0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-10;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

	#intro {
	background-color:#0008;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 120px;
	text-align: center;
	}

	#comesoon {
	background-color:#0008;
	position: absolute;
	margin: 0;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 120px;
	text-align: center;
	}


/*
	#intro >* {
	  font-family: myFirstFont;
	  color: #0f0;
}
*/
html {
  font-family: myFirstFont;
  color: #0f0;
}

  canvas{
  display:block;
  vertical-align:bottom;
}

  @font-face {
  font-family: myFirstFont;
  src: url(hacked.ttf);
}