body {
  background: url("https://amathysto.github.io/amathysto.git.io/");
  background-size: cover;
  background-repeat: no-repeat;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-10;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

html {
  font-family: sans-serif;
  font-color: white;
}

  canvas{
  display:block;
  vertical-align:bottom;


