#particles-js {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-10;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

  .inspect {
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  margin: 0;
  top: 10%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 120px;
  color: red;
  font-size: 30px;
  }

  .information {
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    margin: 0;
    top: 54%;
    left: 75%;
    font-size: 1.1vw;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    border: 5px solid rgb(255, 255, 255);
    background-attachment: fixed;

  }

  .information1 {
    background-color: rgba(107, 59, 19, 0);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 20%;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    

  }

  .information2 {
    background-color: rgba(107, 59, 19, 0);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 80%;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;

  }

/*
	#intro >* {
	  font-family: myFirstFont;
	  color: #0f0;
}
*/
html {
  font-family: myFirstFont;
  color: #916d1e;
}

  canvas{
  display:block;
  vertical-align:bottom;
}

  @font-face {
  font-family: myFirstFont;
  src: url(../hacked.ttf);
}

.glitch {
  font-size: 4vw;
  line-height: 1;
  font-weight: 700;
  position:absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: rgb(2, 196, 121);
  z-index: 10;
  animation: glitch 3s ease-in-out infinite alternate;
  
}

.me {
  font-size: 2.7vw;
  line-height: 1;
  font-weight: 700;
  position:absolute;
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: rgb(82, 0, 102);
  z-index: 10;
  animation: pain 3s ease-in-out infinite alternate;
  
}

a:hover {
  color: #00ff4c62;
  text-decoration: none;
}


@-webkit-keyframes glitch {
  from {
    text-shadow: 0 0 05px #fff, 0 0 10px #fff, 0 0 20px #94ac93, 0 0 30px #94ac93, 0 0 500px #94ac93, 0 0 60px #94ac93, 0 0 70px #94ac93;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #454d44, 0 0 30px #454d44, 0 0 40px #454d44, 0 0 50px #454d44, 0 0 60px #454d44, 0 0 70px #454d44;
  }
}

@-webkit-keyframes pain {
  from {
    text-shadow: 0 0 05px #fff, 0 0 10px #fff, 0 0 20px #ac93a6, 0 0 30px #ac93a6, 0 0 500px #ac93a6, 0 0 60px #ac93a6, 0 0 70px #ac93a6;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #4d444d, 0 0 30px #4d444d, 0 0 40px #4d444d, 0 0 50px #4d444d, 0 0 60px #4d444d, 0 0 70px #4d444d;
  }
}